{% load staticfiles %}

<!DOCTYPE html>


{% include 'main/header.html' %}

<div class = "row">
    <div class = "col s9" >

    </div>


    <div class = "col s2 wall" >
        <h5 class = "center"> Аутентификация </h5>
        <form action="." method="post">
            {% csrf_token %}

            <input type="text"     name="username" placeholder= "Логин">
            <input type="password" name="password" placeholder="Пароль">
            <input class = "btn green" type="submit"   name="login_btn" value="Войти">
        </form>
    </div>
</div>

{% include 'main/footer.html' %}