{% include 'main/header.html' %}

<div class = "container">
    <div class = "row">

        <input class = "filter right col s4 offset-s8" placeholder="Фильтр" style = "background: white; border-radius: 40px; ">

        {% for pupil in pupils %}
        <filtertag>
            <ul class="collection">
                <li class="collection-item avatar">
                    <img src="/media/{{ pupil.photo }}" alt="" class="circle img-responsive">
                    <span class="title">{{ pupil.name }}</span>
                    <p> {% if pupil.status == "absent" %}
                            <font class = "red-text">Отсуствует</font>
                        {% else %}
                            <font class = "green-text">Присустствует</font>
                        {% endif %} <br>
                        <font class = "brown-text" >{{ pupil.grade }} </font>
                    </p>
                </li>
            </ul>
        </filtertag>
        {% endfor %}
    </div>
</div>

<script>
    $(document).keyup( function(){
        var filter_text = $(".filter").val().toLowerCase();

        $('filtertag').filter(function(index){
            return $(this).val().toLowerCase().search(filter_text) === -1;
        }).hide();

        $('filtertag:contains(' + $(".filter").val() + ')').show();
    });

</script>
{% include 'main/footer.html' %}